:root {
    --fuenteheading: "PT Sans", sans-serif;
    --fuenteParrafo: 'Roboto', sans-serif;

    --azul: #2185D5;
    --gris: #3A4750;
    --grafito: #303841;
    --claro: #F3F3F3;

}

html{
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10 px */
}

*, *:before, *:after{
    box-sizing: inherit;
}

body { 
    background-color: var(--gris);
    max-width: 1280px;
    margin:auto;
}

.nav-titulo {
    font-size: 13px;
    margin: auto;
    justify-content:center;
    color: var(--claro)
}

.container {
    margin-top: 60px;
    color: var(--claro);
    font-size: 20px;
    font-family: var(--fuenteParrafo)
  }
  .nombreCV {
    color: var(--claro);
    font-size: 40px;
  }
  .nombrecvT  { font-size: 20px;
            color: var(--claro);
}



.presentacion{
    font-size: 50px;
    font-family: var(--fuenteheading);
    margin: auto;
    color: var(--claro);
    font-weight: bold;
}
.presentacion-ini{
    font-size: 35px;
    font-family: var(--fuenteParrafo);
   font-weight: bold;
    color: var(--grafito);
    
}

.presentacion-descripcion{
    font-size: 20px;
    text-align: center;
    color: var(--claro);
    background-color: var(--grafito);
    border-radius: 20px;
    padding: 5px;

}
.discripcion{
    font-family: var(--fuenteParrafo);
    color: var(--claro);
    border-bottom: 1px solid var(--azul);
    
    
    }

    .subtitulo{
        font-family: var(--fuenteheading);
        color: var(--claro);
        align-items: center;
    }

    .icon-tec{
        color: var(--azul);
    margin-top: auto;
    }