:root {
    --fuenteheading: "PT Sans", sans-serif;
    --fuenteParrafo: 'Roboto', sans-serif;

    --azul: #2185D5;
    --gris: #3A4750;
    --grafito: #303841;
    --claro: #F3F3F3;

}

html{
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10 px */
}

*, *:before, *:after{
    box-sizing: inherit;
}
nav{  
    margin-top: 20px;

}
body { 
    background-color: var(--gris);
    max-width: 1280px;
    margin:auto;
}

.nav-titulo {
    font-size: 13px;
   text-align: center;
    
    color: var(--claro)
}

.container {
    margin-top: 60px;
    color: var(--claro);
    font-size: 20px;
    font-family: var(--fuenteParrafo)
  }
  .nombreCV {
    color: var(--claro);
    font-size: 40px;
  }
  .nombrecvT  { font-size: 20px;
            color: var(--claro);
}



.presentacion{
    font-size: 50px;
    font-family: var(--fuenteheading);
    margin: auto;
    color: var(--claro);
    font-weight: bold;
}
.presentacion-ini{
    font-size: 35px;
    font-family: var(--fuenteParrafo);
   font-weight: bold;
    color: var(--grafito);
    
}

.presentacion-descripcion{
    font-size: 20px;
    text-align: center;
    color: var(--claro);
    background-color: var(--grafito);
    border-radius: 20px;
    padding: 5px;

}
.discripcion{
    font-family: var(--fuenteParrafo);
    color: var(--claro);
    border-bottom: 1px solid var(--azul);
    
    
    }
    .discripcioncv{
        font-family: var(--fuenteParrafo);
        color: var(--claro);
        font-size: 15px;
        
        
        }
    

    .subtitulo{
        font-family: var(--fuenteheading);
        color: var(--claro);
        align-items: center;
        text-decoration: bold;
    }

    .subtitulocv{
        font-family: var(--fuenteheading);
        color: var(--claro);
        align-items: center;
    }
    .icon-tec{
        color: var(--azul);
    margin-top: auto;
    }

    .card{
        background-color: var(--gris);
        border: 3px solid var(--grafito);
        padding: 5px;
        color: var(--claro);
        
    }
    .btn{ 
        
        color: var(--claro);
        background-color: var(--azul);
    }

    .footer-link{
        margin: auto;
        display: flex;
        text-decoration: none;
        font-size: 25px;
        color: var(--claro);
        font-family: var(--fuenteheading);
        align-content: center;
        justify-content: center;
  
     
    }
    .footer-link:hover {
        color: var(--grafito);
        --bs-link-color-rgb: var(--bs-link-hover-color-rgb);
      }

    .footer-text{

        color:var(--grafito);
        font-family: var(--fuenteParrafo);
        text-align: center;
        font-size: 15px;
        margin-top: 10px;
          
    }

    .cvPanel{ 
        margin: 0 auto;
    }